.helplink {
  display: inline-block;
  vertical-align: top;
  width: 260px;
  margin-right: 40px;

  &__block-title {
    color: $color-4;
    font-size: $font-size-6;
    font-family: $font-family-1;
    text-transform: uppercase;
    margin-bottom: 32px;
  }

  &__item {
    list-style: none;
    border-bottom: 1px solid $color-13;
  }

  &__link {
    font-family: $font-family-3;
    color: $color-6;
    line-height: 36px;
    font-size: $font-size-1;
    text-decoration: none;
    transition: linear $time-3;

    &:hover {
      color: $color-2;
    }
  }
}

.helplink:last-child {
  margin-right: 0;
}