$font-family-1: 'Ubuntu', sans-serif;
$font-family-2: 'Ubuntu Condensed', sans-serif;
$font-family-3: Arial, Helvetica, sans-serif;
$font-size-1: 13px;
$font-size-2: 14px;
$font-size-3: 90px;
$font-size-4: 20px;
$font-size-5: 24px;
$font-size-6: 16px;
$font-size-7: 65px;
$font-size-8: 15px;
$font-size-9: 18px;
$font-size-10: 12px;
$font-size-11: 54px;
$color-1: #181a1d;
$color-2: #248cec; // 2389e6
$color-3: #f4b60d;
$color-4: white;
$color-5: #2a2b2e;
$color-6: #8a8a8a;
$color-7: #2a2d32;
$color-9: #0187f4;
$color-10: #F6C53D;
$color-11: #EEEEEE;
$color-12: #f7f7f7;
$color-13: #393C40;
$color-14: #35383C;
$color-15: #696B6D;
$time-1: 0.2s;
$time-2: 0.4s;
$time-3: 0.1s;